* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Courier New", Courier, monospace;
    font-size: 16px;
    margin: 0 auto;
    max-width: 800px;
    color: #3e3e30;
    background: #D3D3C6;
    padding: 0.5em 10px;
}

h1 {
    font-size: 3em;
    padding-top: 1.2em;
    background: url(files/paws.png) repeat-x;
    background-size: auto 42%;
    text-align: right;
}

h2 {
    font-size: 2em;
    margin-bottom: 0.2em;
}

h3 {
    font-size: 1.6em;
    text-align: right;
    margin-bottom: 0.2em;
}

#pads .pad {
    display: inline-block;
    background-color: #63556B;
    background-size: 90% 90%;
    background-repeat: no-repeat;
    background-position: center;
    width: 19.5%;
    padding: 21.5% 2% 2% 2%;
    margin: 0 2% 2% 0;
    cursor: pointer;
}

#pads .pad.active {
    background-color: #F9F9D5;
}

#pads #pad0 {
    background-image: url(files/cat0.png);
}

#pads #pad1 {
    background-image: url(files/cat1.png);
}

#pads #pad2 {
    background-image: url(files/cat2.png);
}

#pads #pad3 {
    background-image: url(files/cat3.png);
    margin-right: 0;
}

#pads .pad img {
    width: 100%;
}

#sequence {
    font-size: 16px;
    vertical-align: top;
    position: relative;
}

#sequence .line {
    width: 99%;
    background: #63556B;
    font-size: 0;
    padding: 0.5% 0.5% 0 0.5%;
}

#sequence .line3 {
    padding-bottom: 0.5%;
}

#sequence .line .beat {
    display: inline-block;
    position: relative;
    width: 5.25%;
    padding-bottom: 7%;
    margin: 0.5%;
    background: #F9F9D5;
    cursor: pointer;
}

#sequence .line0 .beat {
    background: #d7ab66;
}

#sequence .line1 .beat {
    background: #b9f6dc;
}

#sequence .line2 .beat {
    background: #ffa1cb;
}

#sequence .line3 .beat {
    background: #91da5e;
}

#sequence .line .beat.active {
    background: #F9F9D5;
}

#sequence .line .beatHandler {
    position: absolute;
    top: 20%;
    bottom: 20%;
    left: 20%;
    right: 20%;
}

#sequence .line .beatHandler.on {
    background: #63556B;
}

#buttons {
    font-size: 1.8em;
    margin-bottom: 0.5em;
}

#play, #stop {
    height: 1.8em;
    width: 6%;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

#play {
    background: url(files/play.png) no-repeat center center;
    background-size: auto 85%;
}

#stop div {
    background: #63556B;
    position: absolute;
    top: 0.2em;
    left: 0.4em;
    right: 0.4em;
    bottom: 0.2em;
}

#bpm {
    display: inline-block;
    vertical-align: middle;
    width: 24%;
    text-align: center;
}

#buttons input {
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    background: none repeat scroll 0% 0% #63556A;
    vertical-align: middle;
    font-size: 0.5em;
    padding: 2%;
    width: 70%;
}

#share {
    margin-top: 1em;
}

#share p {
    margin-bottom: 0.5em;
}

#info {
    font-size: 0.8em;
}


@media screen and (max-width: 650px) {
	body, #sequence {
		font-size: 12px;
	}
}

@media screen and (max-width: 470px) {
	body, #sequence {
		font-size: 9px;
	}
}